body {
	background: #202028;
	display: flex;
	font-size: 2em;
	font-family: sans-serif;
	color: #eee;
	text-align: center;
}

.player {
	flex: 1 1 auto;
}

.player.local canvas {
	border-color: #fff;
}

.canvas {
	border: .2em solid #707070;
	height: 90hv;
}

.score {
	margin-bottom: 10px;
}